<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Collection</title>
    <style>
        .gallery {
            display: flex;
            gap: 10px;
        }
        .gallery img {
            width: 200px;
            height: auto;
            border-radius: 10px;
            mix-blend-mode: color-burn;
        }
        img{
            mix-blend-mode: color-burn;
        }
    </style>
</head>
<body>
    <h1>Jewelry Collection</h1>
    <div class="gallery">
        <img src="{{ url_for('static', filename='img/gold.jpeg') }}" alt="Gold Jewelry">
        <img src="{{ url_for('static', filename='img/silver.jpeg') }}" alt="Silver Jewelry">
    </div>
</body>
</html>
